.tic-tac-toe-square {
  width: 100px;
  height: 100px;
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.tic-tac-toe-square:focus {
  background: #ddd;
}
