@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Roboto:wght@500&display=swap");

* {
  position: relative;
  box-sizing: border-box;
}
:root {
  --background: #d0ac92;
  --background-shadow: #6f5947;
  --line: #75b4d4;
}
html {
  background-color: #bababa;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  height: 100%;
}

h1 {
  font-family: "Comfortaa", cursive;
  text-align: center;
}
body {
  display: grid;
  place-items: center;
  min-height: 100%;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  height: 50vmin;
  width: 50vmin;

  background-color: #c6c6c6;
  box-shadow: -4vmin 4vmin 6vmin #555;
}

.tile {
  border: solid 3px #000;
  color: #000;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn {
  padding: 1.5rem 3rem;
  background-color: #333;
  font-size: 1.5rem;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.winningMessage {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
}
